.center{

display: flex;
flex-wrap:  wrap;
font-size: 20;
max-width: 1300px;
margin: 0 auto;
padding: 0 2%;
}

.header{
 
 padding: 50px 0 ;


}

html, body{

height: 100%;
overflow-y: hidden;

}
.logo{

width: 50%;

}

.menu{

padding-top: 100px;


}

.menu a{

color: black;
text-decoration: none;
font-weight: bold;
margin-right: 50px;

}

section.sobre{

position: relative;

}

.extras{

position: absolute;
bottom: -400;
right: -300;
width: 950px;
height: 950px;
border-radius: 70%;
background-color: #017143;

}

.social-midia{

position: absolute;
right: 300px;
top: 70px;
}

.social-midia img{

display: block;

}

.texto-sobre{

margin-top: 20px;
}

.texto-sobre h1{

font-size: 50px;


}

.texto-sobre p{

    margin: 20px;
    font-size: 20px;
    left: 200px;
    font-weight: bold;
    max-width: 800px;
    
}

.texto-sobre button{

border: 0;
background-color: #017143;
color: white;
border-radius: 10px;
width: 100;
height: 30;
cursor: pointer;


}

.lugr-cafe{

padding-right: 170px;
position: absolute;
padding-left: 120px;


}



